<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvv-v2-firstmvc:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvv_v2_firstmvc_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvv-v2-firstmvc/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvv-v2-firstmvc" />
        </element>
      </element>
    </root>
  </artifact>
</component>